@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none; }
  90% {
    color: #484848;
    text-shadow: none; }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

ul {
  list-style: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #f9f7f6;
  font-weight: 300;
  line-height: 1.6; }

.body-top {
  height: .9rem;
  grid-row: 1;
  grid-column: center-start / center-end;
  background: linear-gradient(to right, red 20%, green 20%, green 40%, blue 40%, blue 60%, purple 60%, purple 80%, yellow 80%, yellow 100%); }

.body-right {
  grid-column: body-right-start / body-right-end;
  grid-row: 1 / -1;
  background-image: linear-gradient(45deg, #034f84, #034f84 14.3%, #92a8d1 14.3%, #92a8d1 28.6%, #f7cac9 28.6%, #f7cac9 42.9%, #f7786b 42.9%, #f7786b 57.2%);
  opacity: .1; }

.body-left {
  grid-column: body-left-start / body-left-end;
  grid-row: 1 / -1;
  background-image: linear-gradient(45deg, #034f84, #034f84 14.3%, #92a8d1 14.3%, #92a8d1 28.6%, #f7cac9 28.6%, #f7cac9 42.9%, #f7786b 42.9%, #f7786b 57.2%);
  opacity: .1; }

.container {
  display: grid;
  grid-template-rows: repeat(7, max-content);
  grid-template-columns: [body-right-start] 5vw [body-right-end center-start] 1fr [center-end body-left-start] 5vw [body-left-end]; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .5; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.header {
  grid-column: center-start / center-end;
  height: 95vh;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: 20; }
  .header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    filter: brightness(30%);
    mask-image: linear-gradient(to right bottom, #f7cac9, #f7786b); }
  .header__msg {
    font-size: 3rem; }
  .header__welcome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column; }
  .header__software-engineer {
    display: flex;
    flex-direction: row;
    width: 72rem;
    justify-content: space-between; }
    @media only screen and (max-width: 62.5em) {
      .header__software-engineer {
        flex-direction: column;
        width: 40rem;
        align-items: center; } }
    @media only screen and (max-width: 37.5em) {
      .header__software-engineer {
        flex-direction: column;
        width: 40rem;
        align-items: center; } }
  .header ul {
    letter-spacing: 1px;
    font-size: 10rem; }
  .header ul li {
    font-size: 3rem;
    font-weight: 700;
    display: inline-block;
    text-transform: capitalize;
    animation: lighting 1.4s linear infinite; }
  .header ul li:nth-child(1) {
    animation-delay: 0; }
  .header ul li:nth-child(2) {
    animation-delay: 0.1s; }
  .header ul li:nth-child(3) {
    animation-delay: 0.2s; }
  .header ul li:nth-child(4) {
    animation-delay: 0.3s; }
  .header ul li:nth-child(5) {
    animation-delay: 0.4s; }
  .header ul li:nth-child(6) {
    animation-delay: 0.5s; }
  .header ul li:nth-child(7) {
    animation-delay: 0.6s; }
  .header ul li:nth-child(8) {
    animation-delay: 0.7s; }
  .header ul li:nth-child(9) {
    animation-delay: 0.8s; }
  .header ul li:nth-child(10) {
    animation-delay: 0.9s; }
  .header ul li:nth-child(11) {
    animation-delay: 1s; }
  .header ul li:nth-child(12) {
    animation-delay: 1.1s; }
  .header ul li:nth-child(13) {
    animation-delay: 1.2s; }
  .header ul li:nth-child(14) {
    animation-delay: 1.3s; }
  .header ul li:nth-child(15) {
    animation-delay: 1.4s; }

.background {
  grid-column: center-start / center-end;
  background-image: linear-gradient(to right bottom, #92a8d1, #034f84);
  background-size: cover;
  grid-column: center-start / center-end;
  height: 100vh;
  background-color: #f7786b;
  margin-top: -16vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 19;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .background__content {
    margin-top: 20vh; }

.technologies {
  grid-column: center-start / center-end;
  margin-top: -16vh;
  background-image: linear-gradient(to right bottom, #f7cac9, #f7786b);
  background-size: cover;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: 18; }
  .technologies__content {
    margin-top: 20vh; }

.projects {
  grid-column: center-start / center-end;
  margin-top: -16vh;
  background-image: linear-gradient(to right bottom, #92a8d1, #034f84);
  background-size: cover;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: 17; }
  .projects__content {
    margin-top: 20vh; }

.contact {
  grid-column: center-start / center-end;
  margin-top: -16vh;
  background-image: linear-gradient(to right bottom, #f7cac9, #f7786b);
  background-size: cover;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: 16; }
  .contact__content {
    margin-top: 20vh; }

.footer {
  background-color: #034f84;
  height: 40vh;
  z-index: 15;
  margin-top: -16vh; }
  .footer__content {
    margin-top: 20vh; }
