@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none; }
  90% {
    color: #484848;
    text-shadow: none; }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00; } }

@keyframes text-heartbeat {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1); }
  30% {
    transform: scale(1.4); }
  50% {
    transform: scale(1.2); }
  70% {
    transform: scale(1.4); }
  100% {
    transform: scale(1); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

ul {
  list-style: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #BCCBDE;
  font-weight: 300;
  line-height: 1.6; }

.body-top {
  height: .9rem;
  grid-row: 1;
  grid-column: center-start / center-end;
  background-image: linear-gradient(to right, red, red 14.3%, orange 14.3%, orange 28.6%, yellow 28.6%, yellow 42.9%, green 42.9%, green 57.2%, blue 57.2%, blue 71.5%, indigo 71.5%, indigo 85.8%, violet 85.8%, violet); }

.container {
  display: grid;
  grid-template-rows: repeat(7, max-content);
  grid-template-columns: [body-right-start] 5vw [body-right-end center-start] 1fr [center-end body-left-start] 5vw [body-left-end]; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

.strong {
  border-bottom: 1px dotted; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .5; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  cursor: pointer; }

.btn--contact {
  color: #E05915;
  border: 1px solid #E05915; }
  .btn--contact:before {
    border: 1px solid #E05915;
    content: '';
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E05915;
    transition: 1s;
    transform: rotateX(90deg);
    z-index: -1; }
  .btn--contact:after {
    border: 1px solid #E05915;
    border-radius: 10rem;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E05915;
    transition: 1s;
    transform: rotateY(90deg);
    z-index: -1; }
  .btn--contact:hover:before {
    transform: rotateX(0); }
  .btn--contact:hover:after {
    transform: rotateY(0); }
  .btn--contact:hover {
    color: #BCCBDE;
    border: 1px solid transparent; }

.form {
  background-color: #C2DDE6;
  padding: 2rem;
  border: 1px solid #BCCBDE;
  border-radius: 5px;
  color: #431C5D;
  width: 60%;
  margin: 0 auto; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(188, 203, 222, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #BCCBDE; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #BCCBDE; }
    .form__input::-webkit-input-placeholder {
      color: #431C5D; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio-group {
    width: 49%;
    display: inline-block; }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #BCCBDE;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem; }
    .form__radio-button::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #BCCBDE;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }

.header {
  grid-column: center-start / center-end;
  height: 95vh;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0);
  z-index: 20; }
  .header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    filter: brightness(30%);
    mask-image: linear-gradient(to right bottom, #E05915, #E05915); }
  .header__name {
    animation: text-heartbeat 1.4s linear infinite; }
  .header__welcome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column; }
  .header__secondary {
    color: #C2DDE6; }
  .header__software-engineer {
    display: flex;
    flex-direction: row;
    width: 72rem;
    justify-content: space-between; }
    @media only screen and (max-width: 62.5em) {
      .header__software-engineer {
        flex-direction: column;
        width: 40rem;
        align-items: center; } }
    @media only screen and (max-width: 37.5em) {
      .header__software-engineer {
        flex-direction: column;
        width: 40rem;
        align-items: center; } }
  .header ul {
    letter-spacing: 1px;
    font-size: 10rem; }
  .header ul li {
    font-size: 3rem;
    font-weight: 700;
    display: inline-block;
    text-transform: capitalize;
    animation: lighting 1.4s linear infinite; }
  .header ul li:nth-child(1) {
    animation-delay: 0; }
  .header ul li:nth-child(2) {
    animation-delay: 0.1s; }
  .header ul li:nth-child(3) {
    animation-delay: 0.2s; }
  .header ul li:nth-child(4) {
    animation-delay: 0.3s; }
  .header ul li:nth-child(5) {
    animation-delay: 0.4s; }
  .header ul li:nth-child(6) {
    animation-delay: 0.5s; }
  .header ul li:nth-child(7) {
    animation-delay: 0.6s; }
  .header ul li:nth-child(8) {
    animation-delay: 0.7s; }
  .header ul li:nth-child(9) {
    animation-delay: 0.8s; }
  .header ul li:nth-child(10) {
    animation-delay: 0.9s; }
  .header ul li:nth-child(11) {
    animation-delay: 1s; }
  .header ul li:nth-child(12) {
    animation-delay: 1.1s; }
  .header ul li:nth-child(13) {
    animation-delay: 1.2s; }
  .header ul li:nth-child(14) {
    animation-delay: 1.3s; }
  .header ul li:nth-child(15) {
    animation-delay: 1.4s; }

.background {
  grid-column: center-start / center-end;
  position: relative;
  background-color: #E6E9F0;
  color: #431C5D;
  margin-top: -16vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  z-index: 19;
  clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0); }
  @media only screen and (min-width: 50em) {
    .background {
      height: 70vh; } }
  .background__content {
    margin: 20vh 5vw 0 5vw; }
  .background__title {
    margin-bottom: 2rem;
    text-align: center; }
  .background p {
    font-size: 1.8rem;
    display: inline-block;
    margin-bottom: 2.4rem; }

.timeline {
  grid-column: center-start / center-end;
  margin-top: -19vh;
  background-color: #BCCBDE;
  color: #431C5D;
  height: 100vh;
  clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0);
  z-index: 18; }
  .timeline__content {
    margin: 20vh 5vw 0 5vw; }
  .timeline h3 {
    font-size: 2.3rem; }
  .timeline p {
    font-size: 1.5rem; }
  .timeline ul li {
    position: relative;
    width: .5rem;
    margin: 0 auto;
    background-color: #431C5D;
    padding-top: 5rem; }
  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #431C5D;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: background .5 ease-in-out; }
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 40rem;
    padding: 1rem;
    background-color: #E6E9F0;
    transition: all .5s ease-in-out; }
  .timeline ul li:nth-child(odd) div {
    left: 4rem; }
  .timeline ul li:nth-child(even) div {
    left: -44rem; }
  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: .5rem;
    width: 0;
    height: 0;
    border-style: solid; }
  .timeline ul li:nth-child(odd) div::before {
    left: -1rem;
    border-width: 1rem 1.5rem 1rem 0;
    border-color: transparent #E6E9F0 transparent transparent; }
  .timeline ul li:nth-child(even) div::before {
    right: -1rem;
    border-width: 1rem 0 1rem 1.5rem;
    border-color: transparent transparent transparent #E6E9F0; }

@media only screen and (max-width: 50em) {
  .timeline ul li {
    margin-left: 1rem !important; }
  .timeline ul li div {
    width: 70vw; }
  .timeline ul li:nth-child(even) div {
    left: 4rem; }
  ul li:nth-child(even) div::before {
    left: -1rem;
    border-width: 1rem 1.5rem 1rem 0;
    border-color: transparent #E05915 transparent transparent; } }

.projects {
  grid-column: center-start / center-end;
  margin-top: -22vh;
  background-color: #E6E9F0;
  height: 140vh;
  color: #431C5D;
  clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0);
  z-index: 17; }
  .projects__content {
    margin: 25vh 5vw 0 5vw; }
  .projects .project_container {
    height: auto;
    margin: 1rem;
    display: flex;
    font-size: 1.5rem;
    line-height: 2;
    border-bottom: 2px dotted;
    padding: 1rem;
    border-radius: 5px; }
    .projects .project_container:nth-child(odd) {
      flex-direction: row-reverse; }
    .projects .project_container img {
      width: 50%;
      height: 100%; }
    .projects .project_container div {
      padding-left: 4rem;
      width: 50%; }
    .projects .project_container h2 {
      display: inline; }
    .projects .project_container h2::before {
      content: '';
      display: block; }
    .projects .project_container p {
      padding-left: 2rem; }
    .projects .project_container .btn--project {
      padding: 0 1rem;
      border-bottom: 1px solid;
      text-decoration: none;
      transition: all .3s; }
    .projects .project_container .btn--project:hover {
      background-color: #431C5D;
      color: #E6E9F0;
      padding: 1rem 2rem;
      border-bottom: 1px solid; }

.contact {
  grid-column: center-start / center-end;
  margin-top: -30vh;
  background-color: #BCCBDE;
  height: 120vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: 16; }
  .contact__content {
    margin-top: 30vh; }

.footer {
  background-color: #431C5D;
  grid-column: center-start / center-end;
  height: 20vh;
  margin-top: -20vh;
  z-index: 17; }
  .footer__content {
    margin-top: 20vh; }
  .footer svg {
    margin-top: -10vh;
    fill: #431C5D; }

.social-media-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -15vh; }

.icon {
  width: 9rem;
  height: 9rem;
  background: #E6E9F0;
  margin: 1rem;
  border-radius: 30%;
  color: #431C5D;
  box-shadow: 0 5px 15px -5px #431C5D;
  position: relative;
  overflow: hidden; }

.icon i {
  line-height: 9rem;
  font-size: 2.5rem;
  transition: 0.2s; }

.icon:hover i {
  transform: scale(1.3);
  color: #E6E9F0; }

.icon::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  background: #431C5D;
  left: -110%;
  top: 90%;
  transform: rotate(45deg); }

.icon:hover::before {
  animation: animation 0.7s 1 forwards; }

@keyframes animation {
  0% {
    left: -110%;
    top: 90%; }
  50% {
    left: 15%;
    top: -30%; }
  100% {
    top: -10%;
    left: -10%; } }
