// COLOR VARIABLES

//  HEX: # HEX: #


$col-one: #034f84;
$col-two: #92a8d1;
$col-three: #f7cac9;
$col-four: #f7786b;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;



// FONT VARIABLES
$font-primary: 'Nunito',
sans-serif;
$font-display: 'Josefin Sans',
sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;