.resp-img-bg {
  position: relative;
}
.resp-img-bg__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.09;
}
.resp-img-bg__inner {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
}
