.nav-menu {
  margin-bottom: 1rem;
  padding: 0;
}

.nav-menu li {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  padding: 8px 0;
}

.nav-menu li:not(:last-child) {
  border-bottom: 1px dotted lightgray;
}

.nav-menu a {
  text-decoration: none;
}

.active {
  background-color: yellow;
}