:root {
  --col-night-blue: #2d545e;
  --col-night-blue-shadow: #12343b;
  --col-sand-tan: #e1b382;
  --col-sand-tan-shadow: #c89666;
}

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

main,
aside,
footer {
  border: 1px solid #000;
  padding: 0.5rem;
  margin: 0.5rem;
}

.blog {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr 4rem;
  grid-template-areas:
    "main sidebar"
    "footer footer";
}

main {
  grid-area: main;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
  text-align: center;
}

@media only screen and (max-width: 1125px) {
  .blog {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4rem;
    grid-template-areas:
      "main"
      "sidebar"
      "footer";
  }
}