:root {
  --col-night-blue: #2d545e;
  --col-night-blue-shadow: #12343b;
  --col-sand-tan: #e1b382;
  --col-sand-tan-shadow: #c89666;
}

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
}
body{
  margin: 1rem;
}
main,
aside,
footer {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.blog {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr 4rem;
  grid-gap: 1rem;
  grid-template-areas:
    "main sidebar"
    "footer footer";
}

main {
  grid-area: main;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
  text-align: center;
}

@media only screen and (max-width: 1125px) {
  .blog {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4rem;
    grid-template-areas:
      "main"
      "sidebar"
      "footer";
  }
}


mark{
  background-color: rgb(244, 230, 230);
}