.btn {

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    -webkit-transition: all .2s;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
    cursor: pointer;
  }

  &--contact {
    color: $col-dark-two;
    border: 1px solid $col-dark-two;


    &:before {
      border: 1px solid $col-dark-two;
      content: '';
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $col-dark-two;
      -webkit-transition: 1s;
      transition: 1s;
      -webkit-transform: rotateX(90deg);
              transform: rotateX(90deg);
      z-index: -1;
    }

    &:after {
      border: 1px solid $col-dark-two;
      border-radius: 10rem;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $col-dark-two;
      -webkit-transition: 1s;
      transition: 1s;
      -webkit-transform: rotateY(90deg);
              transform: rotateY(90deg);
      z-index: -1;
    }

    &:hover:before {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }

    &:hover:after {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }

    &:hover {
      color: $col-light-one;
      border: 1px solid transparent;
    }
  }


  &--send {
    color: $col-dark-one;
    border: 1px solid $col-dark-one;
    opacity: 1;
    &:hover {
      color: $col-light-one;
      background-color: $col-dark-one;
    }
  }
}


//   &:hover {
//     transform: translateY(-3px);
//     box-shadow: 0 1rem 2rem rgba($color-black, .2);

//     &::after {
//       transform: scaleX(1.4) scaleY(1.6);
//       opacity: 0;
//     }
//   }

//   &:active,
//   &:focus {
//     outline: none;
//     transform: translateY(-1px);
//     box-shadow: 0 .5rem 1rem rgba($color-black, .2);
//   }

//   &--white {
//     background-color: $color-white;
//     color: $color-grey-dark;

//     &::after {
//       background-color: $color-white;
//     }
//   }

//   &--green {
//     background-color: $color-primary;
//     color: $color-white;

//     &::after {
//       background-color: $color-primary;
//     }
//   }

//   &::after {
//     content: "";
//     display: inline-block;
//     height: 100%;
//     width: 100%;
//     border-radius: 10rem;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     transition: all .4s;
//   }

//   &--animated {
//     animation: moveInBottom .5s ease-out .75s;
//     animation-fill-mode: backwards;
//   }
// }

// .btn-text {

//   &:link,
//   &:visited {
//     font-size: $default-font-size;
//     color: $color-primary;
//     display: inline-block;
//     text-decoration: none;
//     border-bottom: 1px solid $color-primary;
//     padding: 3px;
//     transition: all .2s;
//   }

//   &:hover {
//     background-color: $color-primary;
//     color: $color-white;
//     box-shadow: 0 1rem 2rem rgba($color-black, .15);
//     transform: translateY(-2px);
//   }

//   &:active {
//     box-shadow: 0 .5rem 1rem rgba($color-black, .15);
//     transform: translateY(0);
//   }
// }