.form {
  position: relative;
  opacity: .5;
  border-radius: 1rem;
  overflow: hidden;

  &__bg {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(105deg,
        rgba(#fff, .96) 0%,
        rgba(#fff, .96) 60%,
        transparent 60%),
      url('img/contact-me.jpeg');
    background-size: 100%;
    background-position: center center;
  }

  &__controls-container {
    padding: 3rem 0 3rem 3rem;
    width: 50%;
  }

  // background-color: $col-light-two;
  padding: 2rem;
  // border: 1px solid $col-light-one;
  color: $col-dark-one;
  width: 80%;
  margin: 0 auto;


  box-shadow: 1px 1px 25px rgba($col-dark-one, 0.35);
  border-radius: 1rem;


  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem;
    border-radius: 2px;
    background-color: rgba($col-light-two, .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(#000, .1);
      border-bottom: 3px solid $col-light-one;

    }

    &:focus:invalid {
      border-bottom: 3px solid $col-light-one;
    }

    &::-webkit-input-placeholder {
      color: $col-dark-one;
    }
  }


  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  &__input:placeholder-shown+&__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

}