/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: $col-light-one;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $col-dark-one;
  border-radius: 10px;
}