<!-- JavaScript -->
<ul class="nav-menu">
  <h2>JavaScript</h2>
  <li>
    <a href="/articles/js/001/article.html">JavaScript Arrays Q and A</a></li>
  <li><a href="/articles/js/002/article.html">Double Equals vs. Triple Equals in JavaScript</a></li>
  <li><a href="/articles/js/003/article.html">JavaScript Slice vs. Splice</a></li>
  <li><a href="/articles/js/004/article.html">Closure In JavaScript</a></li>
  <li><a href="/articles/js/005/article.html">Pure Function In JavaScript</a></li>
  <li><a href="/articles/js/006/article.html">Currying in JavaScript</a></li>
  </li>
</ul>

<hr />

<!-- data structures and algorithms -->
<!-- easy -->
<ul class="nav-menu">
  <h2>Easy JavaScript Challenges</h2>
  <li><a href="/articles/ds/problems/easy/001/article.html">century From Year</a></li>
  <li><a href="/articles/ds/problems/easy/002/article.html">palindrome</a></li>
  <li><a href="/articles/ds/problems/easy/003/article.html">Adjacent Elements Product</a></li>
  <li><a href="/articles/ds/problems/easy/004/article.html">make Array Consecutive 2</a></li>
  <li><a href="/articles/ds/problems/easy/005/article.html">almost Increasing Sequence</a></li>
  <li><a href="/articles/ds/problems/easy/006/article.html">Tree traversal</a></li>
  <li><a href="/articles/ds/problems/easy/007/article.html">matrix Elements Sum</a></li>
  <li><a href="/articles/ds/problems/easy/008/article.html">all longest strings</a></li>
  <li><a href="/articles/ds/problems/easy/009/article.html">common Character Count</a></li>
</ul>