<!-- JavaScript -->
<li><a href="/articles/js/040520/article.html">JavaScript Arrays Q and A</a></li>
<li><a href="/articles/js/040829/article.html">Double Equals vs. Triple Equals in JavaScript</a></li>
<li><a href="/articles/js/0408201/article.html">JavaScript Slice vs. Splice</a></li>

<!-- data structures and algorithms -->
<!-- easy -->
<li><a href="/articles/ds/problems/easy/040820/article.html">century From Year</a></li>
<li><a href="/articles/ds/problems/easy/0408201/article.html">palindrome</a></li>
<li><a href="/articles/ds/problems/easy/0408202/article.html">Adjacent Elements Product</a></li>
<li><a href="/articles/ds/problems/easy/0408203/article.html">make Array Consecutive 2</a></li>
<li><a href="/articles/ds/problems/easy/0408204/article.html">almost Increasing Sequence</a></li>