@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }

  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }

  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


@-webkit-keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none;
  }

  90% {
    color: #484848;
    text-shadow: none;
  }

  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}


@keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none;
  }

  90% {
    color: #484848;
    text-shadow: none;
  }

  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}

@-webkit-keyframes text-heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  30% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  70% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes text-heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  30% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  70% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes social-media-animation {
  0% {
    left: -110%;
    top: 90%;
  }

  50% {
    left: 15%;
    top: -30%;
  }

  100% {
    top: -10%;
    left: -10%;
  }
}

@keyframes social-media-animation {
  0% {
    left: -110%;
    top: 90%;
  }

  50% {
    left: 15%;
    top: -30%;
  }

  100% {
    top: -10%;
    left: -10%;
  }
}