*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width:$bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $col-light-one;
  font-weight: 300;
  line-height: 1.6;
}

.body-top {
  height: .9rem;
  grid-row: 1;
  grid-column: center-start / center-end;
  background-image: linear-gradient(to right, red, red 14.3%, orange 14.3%, orange 28.6%, yellow 28.6%, yellow 42.9%, green 42.9%, green 57.2%, blue 57.2%, blue 71.5%, indigo 71.5%, indigo 85.8%, violet 85.8%, violet);
}

// .body-right {
//   grid-column: body-right-start / body-right-end;
//   grid-row: 1 / -1;
//   background-image:
//     linear-gradient(45deg, $col-dark-three, $col-dark-three 14.3%, $col-dark-two 14.3%, $col-dark-two 28.6%, $col-dark-one 28.6%, $col-dark-one 42.9%, $col-dark-three 42.9%, $col-dark-three 57.2%);
//   opacity: .1;
// }

// .body-left {
//   grid-column: body-left-start / body-left-end;
//   grid-row: 1 / -1;
//   background-image:
//     linear-gradient(45deg, $col-dark-three, $col-dark-three 14.3%, $col-dark-two 14.3%, $col-dark-two 28.6%, $col-dark-one 28.6%, $col-dark-one 42.9%, $col-dark-three 42.9%, $col-dark-three 57.2%);
//   opacity: .1;
// }

.container {
  display: grid;
  grid-template-rows: repeat(7, max-content);
  grid-template-columns: [body-right-start] 5vw [ body-right-end center-start] 1fr [center-end body-left-start] 5vw [body-left-end];


}