*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul{
  list-style: none;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
   @media only screen and (max-width:$bp-large) {
     font-size: 50%;
   }
}

body {
  font-family: $font-primary;
  color: $color-grey-light-1;
  font-weight: 300;
  line-height: 1.6;
}

.body-top {
  height: .9rem;
  grid-row: 1;
  grid-column: center-start / center-end;
  // background-image:
  //   linear-gradient(to right, $col-one, $col-one 14.3%, $col-two 14.3%, $col-two 28.6%, $col-three 28.6%, $col-three 42.9%, $col-four 42.9%, $col-four 57.2%);
    background: linear-gradient(to right,
      red 20%,
      green 20%,
      green 40%,
      blue 40%,
      blue 60%,
      purple 60%,
      purple 80%,
      yellow 80%,
      yellow 100%);
  // opacity: .1;
}

.body-right {
  grid-column: body-right-start / body-right-end;
  grid-row: 1 / -1;
   background-image:
    linear-gradient(45deg, $col-one, $col-one 14.3%, $col-two 14.3%, $col-two 28.6%, $col-three 28.6%, $col-three 42.9%, $col-four 42.9%, $col-four 57.2%);
  opacity: .1;
}

.body-left {
  grid-column: body-left-start / body-left-end;
  grid-row: 1 / -1;
   background-image:
    linear-gradient(45deg, $col-one, $col-one 14.3%, $col-two 14.3%, $col-two 28.6%, $col-three 28.6%, $col-three 42.9%, $col-four 42.9%, $col-four 57.2%);
  opacity: .1;
}

.container {
  display: grid;
  grid-template-rows: repeat(7, max-content);
  grid-template-columns: [body-right-start] 5vw 
                          [ body-right-end center-start] 1fr 
                          [center-end body-left-start] 5vw [body-left-end];


}