.container {
}

.header {
  grid-column: center-start / center-end;
  height: 95vh;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: 20;
  margin: 0 0 -10vw 0;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    -webkit-filter: brightness(10%);
            filter: brightness(10%);
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from($col-dark-two), to($col-dark-two));
    -webkit-mask-image: linear-gradient(to right bottom, $col-dark-two, $col-dark-two);
            mask-image: -webkit-gradient(linear, left top, right bottom, from($col-dark-two), to($col-dark-two));
            mask-image: linear-gradient(to right bottom, $col-dark-two, $col-dark-two);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  }

  &__name {
    -webkit-animation: text-heartbeat 1.4s linear infinite;
            animation: text-heartbeat 1.4s linear infinite;
    -webkit-animation-iteration-count: 3;
            animation-iteration-count: 3;
  }

  &__welcome {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  &__secondary {
    color: $col-light-two;
  }

  &__software-engineer {
    display: -webkit-box;
    display: flex;

    & > div {
      letter-spacing: 1px;
      font-size: 10rem;
    }
    & > div:first-of-type {
      padding-right: 5rem;
    }
    & > div span {
      font-size: 3rem;
      font-weight: 700;
      display: inline-block;
      text-transform: capitalize;
      -webkit-animation: lighting 1.4s linear infinite;
              animation: lighting 1.4s linear infinite;
    }

    & > div span:nth-child(1) {
      -webkit-animation-delay: 0;
              animation-delay: 0;
    }

    & > div span:nth-child(2) {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
    }

    & > div span:nth-child(3) {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
    }

    & > div span:nth-child(4) {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
    }

    & > div span:nth-child(5) {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s;
    }

    & > div span:nth-child(6) {
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s;
    }

    & > div span:nth-child(7) {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s;
    }

    & > div span:nth-child(8) {
      -webkit-animation-delay: 0.7s;
              animation-delay: 0.7s;
    }

    & > div span:nth-child(9) {
      -webkit-animation-delay: 0.8s;
              animation-delay: 0.8s;
    }

    & > div span:nth-child(10) {
      -webkit-animation-delay: 0.9s;
              animation-delay: 0.9s;
    }

    & > div span:nth-child(11) {
      -webkit-animation-delay: 1s;
              animation-delay: 1s;
    }

    & > div span:nth-child(12) {
      -webkit-animation-delay: 1.1s;
              animation-delay: 1.1s;
    }

    & > div span:nth-child(13) {
      -webkit-animation-delay: 1.2s;
              animation-delay: 1.2s;
    }

    & > div span:nth-child(14) {
      -webkit-animation-delay: 1.3s;
              animation-delay: 1.3s;
    }

    & > div span:nth-child(15) {
      -webkit-animation-delay: 1.4s;
              animation-delay: 1.4s;
    }
  }
}

.section-header {
  margin-bottom: 2rem;
  text-align: center;
}

@media only screen and (max-width: $bp-large) {
  .header__software-engineer {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;

    & > div:first-of-type {
      padding: 0;
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .header__software-engineer {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;

    & > div:first-of-type {
      padding: 0;
    }
  }
}

@media only screen and (max-width: $bp-small) {
  .header__software-engineer {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    & > div:first-of-type {
      padding: 0;
    }
  }
}

.background {
  margin: 0 0 -10vw 0;
  z-index: 19;
  grid-column: center-start / center-end;
  position: relative;
  background-color: $col-light-three;
  color: $col-dark-one;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0);

  &__content {
    margin: 25rem 5rem 15rem 5rem;
  }

  .portfolio-image {
    width: 25rem;
    height: 25rem;
    float: left;
    border-radius: 50%;
    shape-outside: circle(50%);
    margin-right: 1rem;
  }

  & p {
    font-size: 2rem;
    line-height: 4rem;
    margin-bottom: 2.4rem;
  }
}

// timeline

.timeline {
  grid-column: center-start / center-end;
  background-color: $col-light-one;
  color: $col-dark-one;
  z-index: 18;
  margin-top: -2rem;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0);

  &__content {
    margin: 25rem 5rem 15rem 5rem;
    padding: 10rem;
  }

  & h3 {
    font-size: 2.3rem;
  }
  & p {
    font-size: 1.5rem;
  }
  // create line
  & ul li {
    position: relative;
    width: 0.5rem;
    margin: 0 auto;
    background-color: $col-dark-one;
    padding-top: 5rem;
  }

  & ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $col-dark-one;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: background 0.5 ease-in-out;
    transition: background 0.5 ease-in-out;
  }

  & ul li div {
    position: relative;
    bottom: 0;
    width: 40rem;
    padding: 1rem;
    background-color: $col-light-three;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  & ul li:nth-child(odd) div {
    left: 4rem;
  }

  & ul li:nth-child(even) div {
    left: -44rem;
  }

  // arrow base
  & ul li div::before {
    content: "";
    position: absolute;
    bottom: 0.5rem;
    width: 0;
    height: 0;
    border-style: solid;
  }

  // right arrow
  ul li:nth-child(odd) div::before {
    left: -1rem;
    border-width: 1rem 1.5rem 1rem 0;
    border-color: transparent $col-light-three transparent transparent;
  }

  // left arrow
  ul li:nth-child(even) div::before {
    right: -1rem;
    border-width: 1rem 0 1rem 1.5rem;
    border-color: transparent transparent transparent $col-light-three;
  }
}

@media only screen and (max-width: $bp-medium) {
  .timeline ul li {
    margin-left: 1rem !important;
  }

  .timeline ul li div {
    width: 70vw;
  }

  .timeline ul li:nth-child(even) div {
    left: 4rem;
  }

  ul li:nth-child(even) div::before {
    left: -1rem;
    border-width: 1rem 1.5rem 1rem 0;
    border-color: transparent $col-dark-two transparent transparent;
  }
}

// end of timeline

.projects {
  grid-column: center-start / center-end;
  background-color: $col-light-three;

  z-index: 17;
  color: $col-dark-one;

  // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0);
  margin: -10vh 0 0 0;

  &__content {
    margin: 15rem 5rem 20rem 5rem;
    padding: 5rem;
  }

  .project_container {
    height: auto;
    margin: 3rem 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-size: 1.5rem;
    line-height: 2;
    border-bottom: 2px dotted;
    padding: 1rem;
    padding-bottom: 3rem;
    border-radius: 5px;

    & img {
      width: 60%;
      height: 100%;
    }

    & div {
      margin-top: 2rem;
      width: 60%;
    }

    & h2 {
      display: inline;
    }

    & h2::before {
      content: "";
      display: block;
    }

    & p {
      padding: 1rem 0 1rem 2rem;
    }

    .btn--project {
      padding: 0 1rem;
      border-bottom: 1px solid;
      text-decoration: none;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }

    .btn--project:hover {
      background-color: $col-dark-one;
      color: $col-light-three;
      padding: 1rem 2rem;
      border-bottom: 1px solid;
    }
  }
}

.contact {
  grid-column: center-start / center-end;
  margin-top: -25vh;
  margin-bottom: 5vh;
  color: $col-dark-one;
  background-color: $col-light-one;

  &__content {
    margin: 25rem 5rem 25rem 5rem;
    padding: 5rem;
  }
}

.footer {
  background-color: $col-dark-one;
  grid-column: center-start / center-end;
  margin-top: -10vh;

  &__content {
    height: 15rem;

    @media only screen and (max-width: $bp-largest) {
      height: 70rem;
    }

    @media only screen and (max-width: $bp-large) {
      height: 35rem;
    }
  }

  svg {
    margin-top: -10vh;
    fill: $col-dark-one;
    z-index: -1;
  }
}

.social-media-container {
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.icon {
  width: 9rem;
  height: 9rem;
  background: $col-light-three;
  margin: 1rem;
  border-radius: 30%;
  color: $col-dark-one;
  box-shadow: 0 5px 15px -5px $col-dark-one;
  position: relative;
  overflow: hidden;
}

.icon i {
  line-height: 9rem;
  font-size: 2.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.icon:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: $col-light-three;
}

.icon::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  background: $col-dark-one;
  left: -110%;
  top: 90%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon:hover::before {
  -webkit-animation: social-media-animation 0.7s 1 forwards;
          animation: social-media-animation 0.7s 1 forwards;
}
