.container {}

.header {
  grid-column: center-start / center-end;

  height: 95vh;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;



  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: 20;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    filter: brightness(30%);
    mask-image: linear-gradient(to right bottom, $col-three, $col-four);
  }

  &__msg {
    font-size: 3rem;
  }

  &__welcome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__software-engineer {
    display: flex;
    flex-direction: row;
    width: 72rem;
    justify-content: space-between;
    @media only screen and (max-width:$bp-large) {
      flex-direction: column;
      width: 40rem;
      align-items: center;
    }
    @media only screen and (max-width:$bp-small) {
      flex-direction: column;
      width: 40rem;
      align-items: center;
    }
  }
 
  & ul {
    // display: flex;
    letter-spacing: 1px;
    font-size: 10rem;
  }

  & ul li {
    font-size: 3rem;
    font-weight: 700;
    display: inline-block;
    text-transform: capitalize;
    animation: lighting 1.4s linear infinite;
  }

  ul li:nth-child(1) {
    animation-delay: 0
  }

  ul li:nth-child(2) {
    animation-delay: 0.1s
  }

  ul li:nth-child(3) {
    animation-delay: 0.2s
  }

  ul li:nth-child(4) {
    animation-delay: 0.3s
  }

  ul li:nth-child(5) {
    animation-delay: 0.4s
  }

  ul li:nth-child(6) {
    animation-delay: 0.5s
  }

  ul li:nth-child(7) {
    animation-delay: 0.6s
  }

  ul li:nth-child(8) {
    animation-delay: 0.7s
  }

  ul li:nth-child(9) {
    animation-delay: 0.8s
  }

  ul li:nth-child(10) {
    animation-delay: 0.9s
  }

  ul li:nth-child(11) {
    animation-delay: 1s
  }

  ul li:nth-child(12) {
    animation-delay: 1.1s
  }

  ul li:nth-child(13) {
    animation-delay: 1.2s
  }

  ul li:nth-child(14) {
    animation-delay: 1.3s
  }

  ul li:nth-child(15) {
    animation-delay: 1.4s
  }
}

.background {
  grid-column: center-start / center-end;

  background-image: linear-gradient(to right bottom, $col-two, $col-one);
  background-size: cover;
  grid-column: center-start / center-end;
  height: 100vh;
  background-color: $col-four;
  margin-top: -16vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 19;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  &__content {
    margin-top: 20vh;
  }
}

.technologies {
  grid-column: center-start / center-end;

  margin-top: -16vh;
  background-image: linear-gradient(to right bottom, $col-three, $col-four);
  background-size: cover;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: 18;

  &__content {
    margin-top: 20vh;
  }
}

.projects {
  grid-column: center-start / center-end;

  margin-top: -16vh;
  background-image: linear-gradient(to right bottom, $col-two, $col-one);
  background-size: cover;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: 17;

  &__content {
    margin-top: 20vh;
  }
}

.contact {
  grid-column: center-start / center-end;

  margin-top: -16vh;
  background-image: linear-gradient(to right bottom, $col-three, $col-four);
  background-size: cover;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: 16;

  &__content {
    margin-top: 20vh;
  }
}

.footer {
  background-color: $col-one;
  height: 40vh;
  z-index: 15;
  margin-top: -16vh;

  &__content {
    margin-top: 20vh;
  }
}