.container {}

.header {
  grid-column: center-start / center-end;
  height: 95vh;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  margin: 0 0 -10vw 0;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    filter: brightness(30%);
    mask-image: linear-gradient(to right bottom, $col-dark-two, $col-dark-two);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    // clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0);
  }

  &__name {
    animation: text-heartbeat 1.4s linear infinite
  }

  &__welcome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__secondary {
    color: $col-light-two;
  }

  &__software-engineer {
    display: flex;
    flex-direction: row;
    width: 72rem;
    justify-content: space-between;

    @media only screen and (max-width:$bp-large) {
      flex-direction: column;
      width: 40rem;
      align-items: center;
    }

    @media only screen and (max-width:$bp-small) {
      flex-direction: column;
      width: 40rem;
      align-items: center;
    }
  }

  & ul {
    // display: flex;
    letter-spacing: 1px;
    font-size: 10rem;
  }

  & ul li {
    font-size: 3rem;
    font-weight: 700;
    display: inline-block;
    text-transform: capitalize;
    animation: lighting 1.4s linear infinite;
  }

  ul li:nth-child(1) {
    animation-delay: 0
  }

  ul li:nth-child(2) {
    animation-delay: 0.1s
  }

  ul li:nth-child(3) {
    animation-delay: 0.2s
  }

  ul li:nth-child(4) {
    animation-delay: 0.3s
  }

  ul li:nth-child(5) {
    animation-delay: 0.4s
  }

  ul li:nth-child(6) {
    animation-delay: 0.5s
  }

  ul li:nth-child(7) {
    animation-delay: 0.6s
  }

  ul li:nth-child(8) {
    animation-delay: 0.7s
  }

  ul li:nth-child(9) {
    animation-delay: 0.8s
  }

  ul li:nth-child(10) {
    animation-delay: 0.9s
  }

  ul li:nth-child(11) {
    animation-delay: 1s
  }

  ul li:nth-child(12) {
    animation-delay: 1.1s
  }

  ul li:nth-child(13) {
    animation-delay: 1.2s
  }

  ul li:nth-child(14) {
    animation-delay: 1.3s
  }

  ul li:nth-child(15) {
    animation-delay: 1.4s
  }
}

.section-header {
  margin-bottom: 2rem;
  text-align: center;
}

.background {
  margin: 0 0 -10vw 0;
  z-index: 19;
  grid-column: center-start / center-end;
  position: relative;
  background-color: $col-light-three;
  color: $col-dark-one;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0);

  @media only screen and (min-width:$bp-medium) {
    // height: 70vh;
  }

  &__content {
    margin: 15rem 5rem 15rem 5rem;
    padding: 5rem;
  }

  & p {
    font-size: 1.8rem;
    display: inline-block;
    margin-bottom: 2.4rem;
  }
}

// timeline

.timeline {
  grid-column: center-start / center-end;
  // margin-top: -19vh;

  background-color: $col-light-one;
  color: $col-dark-one;
  z-index: 18;
  // height: 100vh;
  // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0);


  &__content {
    margin: 15rem 5rem 15rem 5rem;
    padding: 10rem;
  }

  & h3 {
    font-size: 2.3rem;
  }

  & p {
    font-size: 1.5rem;
  }

  // create line
  & ul li {
    position: relative;
    width: .5rem;
    margin: 0 auto;
    background-color: $col-dark-one;
    padding-top: 5rem;
  }

  & ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $col-dark-one;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: background .5 ease-in-out;
  }

  & ul li div {
    position: relative;
    bottom: 0;
    width: 40rem;
    padding: 1rem;
    background-color: $col-light-three;
    transition: all .5s ease-in-out;
  }

  & ul li:nth-child(odd) div {
    left: 4rem;
  }

  & ul li:nth-child(even) div {
    left: -44rem
  }

  // arrow base
  & ul li div::before {
    content: '';
    position: absolute;
    bottom: .5rem;
    width: 0;
    height: 0;
    border-style: solid;
  }

  // right arrow
  ul li:nth-child(odd) div::before {
    left: -1rem;
    border-width: 1rem 1.5rem 1rem 0;
    border-color: transparent $col-light-three transparent transparent;
  }

  // left arrow
  ul li:nth-child(even) div::before {
    right: -1rem;
    border-width: 1rem 0 1rem 1.5rem;
    border-color: transparent transparent transparent $col-light-three;
  }
}

@media only screen and (max-width:$bp-medium) {
  .timeline ul li {
    margin-left: 1rem !important;
  }

  .timeline ul li div {
    width: 70vw;
  }

  .timeline ul li:nth-child(even) div {
    left: 4rem;
  }

  ul li:nth-child(even) div::before {
    left: -1rem;
    border-width: 1rem 1.5rem 1rem 0;
    border-color: transparent $col-dark-two transparent transparent;
  }
}

// end of timeline

.projects {
  grid-column: center-start / center-end;
  background-color: $col-light-three;


  z-index: 17;
  color: $col-dark-one;

  // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(100% 0, 100% 100%, 49% 94%, 0 100%, 0 0);
  margin: -10vh 0 0 0;

  &__content {
    margin: 15rem 5rem 15rem 5rem;
    padding: 5rem;
  }

  .project_container {
    height: auto;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 2;
    border-bottom: 2px dotted;
    padding: 1rem;
    border-radius: 5px;

    & img {
      width: 60%;
      height: 100%;
    }

    & div {
      margin-top: 2rem;
      width: 60%;
    }

    & h2 {
      display: inline;
    }

    & h2::before {
      content: '';
      display: block;
    }

    & p {
      padding-left: 2rem;
    }

    .btn--project {
      padding: 0 1rem;
      border-bottom: 1px solid;
      text-decoration: none;
      transition: all .3s;
    }

    .btn--project:hover {
      background-color: $col-dark-one;
      color: $col-light-three;
      padding: 1rem 2rem;
      border-bottom: 1px solid;
    }
  }
}

.contact {
  grid-column: center-start / center-end;
  margin-top: -30vh;
  margin-bottom: 5vh;
  color: $col-dark-one;
  background-color: $col-light-one;

  &__content {
    margin: 25rem 5rem 25rem 5rem;
    padding: 5rem;
  }
}

.footer {
  background-color: $col-dark-one;
  grid-column: center-start / center-end;
  margin-top: -10vh;

  &__content {
    height: 50vh;
  }

  svg {
    margin-top: -10vh;
    fill: $col-dark-one;
    z-index: -1;
  }
}

.social-media-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 9rem;
  height: 9rem;
  background: $col-light-three;
  margin: 1rem;
  border-radius: 30%;
  color: $col-dark-one;
  box-shadow: 0 5px 15px -5px $col-dark-one;
  position: relative;
  overflow: hidden;
}

.icon i {
  line-height: 9rem;
  font-size: 2.5rem;
  transition: 0.2s;
}

.icon:hover i {
  transform: scale(1.3);
  color: $col-light-three;
}

.icon::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  background: $col-dark-one;
  left: -110%;
  top: 90%;
  transform: rotate(45deg);
}

.icon:hover::before {
  animation: social-media-animation 0.7s 1 forwards;
}